<div id="footer">
  <div id="footer_content">
    <div id="customers">
      <h3>合作伙伴</h3>
      <ul>
        <li class="radius">
        <a href="http://plus.weico.com/" target="_blank"><img src="images/weico.png" />
          <div class="cus_intro">Weico</div>
        </a>
        </li>
        <li class="radius">
        <a href="http://www.camera360.us/" target="_blank">
          <img src="images/camera360.png" />
          <div class="cus_intro">Camera360</div>
        </a>
        </li>
        <li class="radius">
        <a href="http://zhiyue.me/" target="_blank"><img src="images/zhiyue.png" />
          <div class="cus_intro">指阅</div>
        </a>
        </li>
        <li class="radius"><a href="http://www.chinacache.com/" target="_blank"><img src="images/chinacache.png" />
          <div class="cus_intro">蓝汛CDN</div>
        </a></li>
        <li class="radius"><a href="http://www.inspur.com/" target="_blank"><img src="images/inspur.png" />
          <div class="cus_intro">浪潮</div>
        </a></li>
        <li class="radius"><a href="http://www.netbank.cn/" target="_blank"><img src="images/netbank.png" />
          <div class="cus_intro">网银互联</div>
        </a></li>
        <li><a href="http://www.wiseonline.com.cn/" target="_blank"><img src="images/wiseonline.png" width="146" /></a></li>
        <li><a href="http://mige365.com/" target="_blank"><img src="images/mige365.png" width="145" /></a></li>
        <li><a href="http://ikeepu.com/" target="_blank"><img src="images/ikeepu.png" width="120" /></a></li>
        <li><a href="http://segmentfault.com/t/go/" target="_blank"><img src="images/segmentfault.png" /></a></li>
        <li><a href="http://www.uisdc.com/" target="_blank"><img src="images/uisdc.jpg" /></a></li>
        <li><a href="http://www.oschina.net/" target="_blank"><img src="images/oschina-net.jpg" /></a></li>
      </ul>
    </div>
    <div id="contact">
      <h3>联系我们</h3>
      <div id="map"></div>
      <div id="details">
        <h4>办公地址</h4>
        <p id="address">上海市浦东新区亮秀路112号Y1栋711室</p>
        <div id="phone"></div>
        <p>021-61763221</p>
        <div id="m_phone"></div>
        <p>15221004948, 李小姐</p>
        <div id="mail"></div>
        <p>contact@qiniutek.com</p>
        <h5>关注我们</h5>
        <a href="http://weibo.com/qiniutek" target="_blank"><div id="sina"></div></a>
        <a href="http://t.qq.com/qiniutek" target="_blank"><div id="qq"></div></a>
      </div>
    </div>
  </div>
  <div class="foot">
    <p class="copyright_en">Copyright &copy; 2011 - 2012 Shanghai Qiniu Information Technologies Co., Ltd. All Rights Reserved.</p>
    <p class="copyright">上海七牛信息技术有限公司 版权所有 <a href="http://docs.qiniutek.com/v1/tools/qboxrsctl/#qboxrsctl-publish" target="_blank">网站使用七牛云存储托管</a> <a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备11037377号-2</a></p>
    <p><a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20120524220918152" target="_blank"><img src="images/shgs.gif" /></a></p>
  </div>
</div>

<script type="text/javascript" language="javascript" src="/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" language="javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" language="javascript" src="/js/slides.min.jquery.js"></script>
<script type="text/javascript" language="javascript">
  $(function(){
    $('#slides').slides({
      generateNextPrev: false,
      preload: false,
      preloadImage: '/images/loading.gif',
      play: 5000,
      pause: 2500,
      hoverPause: true
    });
  });
