<div id="header">
  <a id="logo" href="/">原力软件</a>
  <div id="extro_op">
    <ul>
      <li class="home current"><a href="/"><span>首页</span></a></li>
      <li><a href="/product/"><span>产品与服务</span></a></li>
      <li><a href="/buy/"><span>试用与购买</span></a></li>
      <li><a href="/about/"><span>关于原力</span></a></li>
      <li><a href="/faq/"><span>问题解答</span></a></li>
      <li><a href="/blog/"><span>博客</span></a></li>
    </ul>
  </div>
  <div id="social_header">
    <!--
    <a class="first_social" href="/about/contact/">Contact</a>
    -->
    <a class="icon sina" href="http://weibo.com/yunnuy" title="关注原力新浪微博"></a>
    <a class="icon qq" href="http://t.qq.com/yunnuy" title="关注原力腾讯微博"></a>
    <a class="last_social" href="mailto:contact@yunnuy.com" title="邮件联系原力">contact@yunnuy.com</a>
    <p class="last_social" title="电话联系">18621113676，彭先生</p>
  </div>
</div>

