<div id="header">
  <a id="logo" href="/">七牛云存储</a>
  <div id="extro_op">
    <ul>
      <li class="home current"><a href="/"><span>首页</span></a></li>
      <li><a href="/product/"><span>产品与服务</span></a></li>
      <li><a href="/buy/"><span>试用与购买</span></a></li>
      <li><a href="/joinus/"><span>加入我们</span></a></li>
      <li><a href="/about/"><span>关于七牛</span></a></li>
      <li><a href="/faq/"><span>问题解答</span></a></li>
      <li><a href="/developer/"><span>开发者中心</span></a></li>
    </ul>
  </div>
  <div id="social_header">
    <!--
    <a class="first_social" href="/about/contact/">Contact</a>
    -->
    <a class="icon sina" href="http://weibo.com/qiniutek" title="关注七牛新浪微博"></a>
    <a class="icon qq" href="http://t.qq.com/qiniutek" title="关注七牛腾讯微博"></a>
    <a class="last_social" href="mailto:contact@qiniutek.com" title="邮件联系七牛">contact@qiniutek.com</a>
    <p class="last_social" title="电话联系李小姐">021-61763221 15221004948，李小姐</p>
  </div>
</div>

