.about-header {
    height: 188px;
    margin-bottom: 35px;
    background: url(../images/about_head.png) 0 0 no-repeat;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.about-header h1,.about-header nav {
    width: 360px;
    height: 40px;
    margin: 0 auto;
    border-radius: 3px;
}

.about-header h1 {
    margin-bottom: 98px;
    background: rgba(0,0,0,0.3);
    color: #666;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.about-header nav {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00cc33), color-stop(100%, #009933));
    background-image: -webkit-linear-gradient(top, #00cc33 0%,#009933 100%);
    background-image: -moz-linear-gradient(top, #00cc33 0%,#009933 100%);
    background-image: -o-linear-gradient(top, #00cc33 0%,#009933 100%);
    background-image: linear-gradient(top, #00cc33 0%,#009933 100%);
    text-align: center;
}

.about-header nav ul {
    display: inline-block;
    padding: 10px 0;
}

.about-header nav li {
    float: left;
    position: relative;
    height: 20px;
    margin-left: 8px;
    padding-left: 8px;
    border-left: 1px solid #060;
}

.about-header nav li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background: #00e133;
}

.about-header nav li:first-child {
    margin: 0;
    padding: 0;
    border: none;
}

.about-header nav li:first-child:after {
    display: none;
}

.about-header nav a {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
}

.about-header nav .active a {
    color: #1a1a1a;
}

.about-content>aside {
    float: left;
    width: 300px;
}

.about-content>aside h3 {
    width: 225px;
    margin-bottom: 10px;
}

.about-content>aside ul {
    margin-bottom: 25px;
}

.about-content>aside li {
    margin-bottom: 2px;
    font-size: 14px;
}

.about-content>aside a {
    color: #333;
}

.about-content>article {
    float: left;
    width: 615px;
    padding-left: 44px;
    border-left: 1px solid #f2f2f2;
}

.about-content>article h3 {
    width: 46px;
}

.about-content h3 {
    padding: 0 14px;
    background: #f2f2f2;
    border-radius: 3px;
    color: #808080;
    font-size: 18px;
    line-height: 30px;
}

.about-content .addr {
    padding-left: 21px;
}

.about-content .addr i {
    margin-left: -21px;
}

.about-content .post h3 {
    float: left;
    margin-right: 40px;
}

.about-content .post p {
    overflow: hidden;
    font-size: 14px;
}

.about-content .post pre {
    margin-top: 0;
    font-size: 2em;
    line-height: 1.3;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.about-content .item {
    padding: 30px 0;
    border-top: 1px solid #f2f2f2;
}

.about-content .item:first-child {
    padding-top: 0;
    border: none;
}